$colormain1:#000066;
$colormain2:#4a93f3;
$colorsec1: #000620;
$colorsec2:#ffd900;
$colorfondo: #f5f5f5;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;
$map-grid-props: (
        '': 0,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl
);


